/* ? ini css */

/* ! style start */
.pusat-k {
  border: 2px solid black;
  border-radius: 4px;
}

.h1-k {
  text-align: center;
}

.p-3-k {
  margin-left: 3px;
}

.p-4-k {
  text-align: center;
}

.p-jawaban {
  margin-left: 10px;
}

.h2-segitiga-k {
  background-color: rgb(17, 205, 238);
  text-align: center;
  margin-top: 0;
  border-radius: 2px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: white;
}

/* ? button switch start */

.btn-switch-k {
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 10px;
  width: 19%;
  margin-left: 41%;
  margin-right: 59%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.a-k {
  text-decoration: none;
  color: black;
}

.btn-switch-k:hover {
  background-image: linear-gradient(180deg, #9bdff0, #3cd9ee);
  cursor: pointer;
  transform: scale(0.9);
  color: white;
}
/* ? button switch end */

/* <======================================> batas */

/* ? image start */
.container-image-k {
  text-align: center;
}

img {
  height: 160px;
}
/* ? image end */

/* <======================================> batas */

/* ? Hitung Luas start */
.h1-hitungluas-k {
  text-align: center;
}
/* ? Hitung Luas  end */

/* <======================================> batas */

/* ? input  and label start */
label {
  margin-left: 10px;
}

input {
  width: 90%;
  margin: 5px;
  background-color: #fff;
  border: 1px solid rgb(48, 81, 143);
  border-radius: 4px;
  padding: 4px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* ? input and label end */

/* <=============================================================================> batas */

/* ? Button Reset and Hitung  */
from > button {
  padding: 5px;
  width: 85px;
  border: 1px solid rgb(2, 2, 2);
  border-radius: 10px;
  color: rgb(241, 238, 238);
}

.btn-hitung-k {
  background-color: #2d39e6;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-top: 40px;
  margin-left: 40%;
  margin-right: 60%;
}

.btn-hitung-k:hover {
  background-image: linear-gradient(180deg, #19f1cd, #2d49e9);
  transform: scale(0.9);
  cursor: pointer;
}

.btn-reset-k {
  cursor: pointer;
  background-color: none;
  color: black;
  margin-bottom: 4px;
  width: 12%;
  margin-left: 85%;
  margin-right: 15%;
}

.btn-reset-k:hover {
  background-image: linear-gradient(180deg, red, purple);
  transform: scale(0.9);
  color: white;
}
/* ? Button Reset and Hitung  */

/* <======================================> batas */
/* ? Info start */
.info-k {
  margin-left: 10px;
  border: 1px solid;
  width: 115px;
  padding-top: 2px;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
}

.info-k:hover {
  background-color: #064858;
  color: white;
}

/* ? Info End */

/* ? output start */
.output {
  margin-left: 10px;
  margin: 5px;
}
/* ? output end */

/* ! style end */
